@using Lume.Models;
@model IEnumerable<ResourceViewModel>


@foreach (var resource in Model)
{
    <tr>
        <td>
            @Html.ActionLink(" ", "ResourceView", "Home", new { id_resource = resource.Id }, new { value = @resource.Id, @class = "view_button view_button_js glyphicon glyphicon-eye-open" })
            @if (resource.id_User == (int)Session["userId"])
            {
                @Html.ActionLink("Edit", "Edit", "Home", new { id_resource = @resource.Id }, new { value = @resource.Id, @class = "edit_button glyphicon glyphicon-edit" })
                @Html.ActionLink(" ", "RemoveView", "Home", new { id_resource = resource.Id }, new { value = @resource.Id, @class = "delResource del_resource_btn glyphicon glyphicon-remove" })
            }
        </td>
        <td>@resource.Name</td>
        <td>@resource.TypeResource</td>
        <td><div class="rating_stars"><input class="rating" value="@resource.Rating.ToString().Replace(',','.')" data-step='0.1' readonly data-size="xs" data-show-clear="false"></div><span class="rating_number_noJS ">@resource.Rating</span></td>
        <td>@resource.Views</td>
        <td>@resource.Size</td>
    </tr>
}