@using Lume.Models;
@model IEnumerable<ResourceViewModel>

@foreach (var resource in Model)
{
    <tr>
        <td>
            <button value="@resource.Id" type="button" class="view_button" data-toggle="modal" data-target="#myModalView"><span class="glyphicon glyphicon-eye-open"></span></button>

            @if (resource.id_User == (int)Session["userId"])
            {
                <button id="editResource" class="edit_resource_btn" data-toggle="modal" data-target="#myModalEdit">
                    @Ajax.ActionLink("Edit", "Edit", "Home", new { id_resource = @resource.Id }, new AjaxOptions() { UpdateTargetId = "editForm", InsertionMode = InsertionMode.Replace }, new { @class = "glyphicon glyphicon-edit" })
                </button>
    <span value="@resource.Id" class=" delResource del_resource_btn glyphicon glyphicon-remove"></span>
            }
        </td>
        <td>@resource.Name</td>
        <td>@resource.TypeResource</td>
        <td><div class="rating_stars"><input class="rating" value="@resource.Rating.ToString().Replace(',','.')" data-step='0.1' readonly data-size="xs" data-show-clear="false"></div><span class="rating_number">@resource.Rating</span></td>
        <td>@resource.Views</td>
        <td>@resource.Size</td>
    </tr>
}